/**/target
/**/pom.xml.versionsBackup
/**/dependency-reduced-pom.xml
/**/*.log

# Virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# Move this to .git/info/exclude because it's needed in IDEA only
/**/*.iml
/**/.idea
